.navbar {
  background-color: var(--background-color);

  &__menu-icon {
    i {
      font-size: 2rem;
    }
  }

  &__theme-icon {
    cursor: pointer;

    i:hover {
      color: var(--primary);
    }
  }

  &__sair {
    cursor: pointer;
  }

  &__sair:hover{
    color: var(--primary)!important;

    i {
      color: var(--primary)!important;
    }
  }
}
