<div class="card">
  <div class="card-body">
    <div class="header d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title m-0">Planejamento</h5>
      <div class="filters">
        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            title="filtro"
          >
            <i class="bi bi-filter"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">...</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grafico">
      <div class="content">
        <div class="bars" *ngFor="let item of List">
          <span>{{ item.value | currency }}</span>
          <div
            class="bar"
            [style.background-color]="item.color"
            [style.height]="item.size"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            title="{{ item.legend }}"
          ></div>
        </div>
      </div>
      <div class="line"></div>
      <div class="legends">
        <span *ngFor="let item of List">{{ item.legend }}</span>
      </div>
    </div>
  </div>
</div>
