.transaction-item {
  padding: .5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;


  &__description{
    margin-bottom: 0;
  }

  &__date{
    color: #79757F;
    font-size: .8rem;
    margin-bottom: 0;
  }

  &__value {
    display: flex;
    gap: .3rem;
  }

}
