<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">controlefin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar__buttons">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <div class="navbar-nav">
          <!-- <button
            type="button"
            class="btn btn-light"
            title="editar transação"
            routerLink="/signin"
          >
            sair
            <i class="bi bi-box-arrow-right"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>

<app-toast></app-toast>

<div routerLink="/transacoes" class="add" title="Registrar nova transação">
  <i class="bi bi-plus-lg"></i>
</div>
