@media (max-width: 768px) {
  .navbar {
    background-color: var(--background-color);
  }
}

.navbar {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  top: 0;

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.add {
  background-color: var(--primary);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: white;
    font-size: 2rem
  }
};
