.signin {
  margin-top: 3rem;
  padding: 0 1rem;

  &__password-button {
    cursor: pointer;
  }

  &__inputs {
    margin-bottom: 1rem;

    div {
      margin-bottom: 1rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .signin {
    margin: 0 auto;
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .signin {
    margin: 0 auto;
    max-width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
