<div class="container">
  <div class="row" style="height: 500px">
    <div class="col d-flex flex-column justify-content-center align-items-start">
      <h1 class="display-3 mb-4">controlefin</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam quasi amet facere, vero quis consequuntur voluptatibus dolore ullam nam doloremque voluptatum libero porro minus reiciendis officia fugit voluptatem nesciunt.</p>
    </div>

    <div class="col d-flex justify-content-center align-items-center">
      <h2 class="display-1">🤑</h2>
    </div>
  </div>
</div>
