<div class="container-fluid">
  <section class="hero">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-3 offset-xl-2 hero__text-content">
        <h1 class="hero__headline">REGISTRAR SEUS GASTOS NUNCA FOI TÃO FÁCIL</h1>
        <p class="mt-4">Utilize o controlefin para registrar transações financeiras de entradas, gastos e investimentos;</p>
        <button class="botao botao__primary mt-4" (click)="irPara('cadastro')">CRIAR CONTA</button>
      </div>
      <div class="col-12 col-md-7 col-xl-6 d-flex justify-content-center">
        <img class="img-fluid" src="./../../../assets/hero/hero-img.png" alt="">
      </div>
    </div>
  </section>
</div>
