<div class="loading" *ngIf="loading; else hero">carregando...</div>

<ng-template #hero>
  <section class="hero">
    <div class="hero__text-content">
      <h1 class="hero__headline">REGISTRAR SEUS GASTOS NUNCA FOI TÃO FÁCIL</h1>
      <p class="hero__text">
        Utilize para registrar transações financeiras de entradas,
        gastos e investimentos;
      </p>
      <button class="botao botao__dark" [routerLink]="['cadastro']">
        CRIAR CONTA
      </button>
    </div>

    <div class="hero__image">
      <img
          class="img-fluid"
          src="./../../../assets/hero/hero-img.png"
          alt=""
          />
        </div>
      </section>
    </ng-template>
