<div class="sidebar">
  <div class="sidebar__logo--small">
    <i class="bi bi-list"></i>
  </div>
  <div class="sidebar__content">
    <ul class="sidebar__links">
      <li><button class="btn btn-link" (click)="irPara('dashboard')"><i class="bi bi-columns-gap"></i>dashboard</button></li>
      <li><button class="btn btn-link" (click)="irPara('transacoes')"><i class="bi bi-arrow-left-right"></i>transações</button></li>
      <li><button class="btn btn-link" (click)="logout()"><i class="bi bi-box-arrow-right"></i>sair</button></li>
    </ul>
  </div>
</div>
