// $theme-colors: ("primary": #E56633);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --background-color: #f5f5f5;
  --background-color-hover: #dedede;
  --border-color: rgba(0, 0, 0, 0.125);
  --card-bg-color: #ffffff;
  --primary: var($primary);
  --black: #111111;
  --white: #fafafa;
  --text: #212121;
}

:root .dark {
  --background-color: #1F1F1F;
  --background-color-hover: #484848;
  --border-color: #948F99;
  --card-bg-color: #1C1B1E;
  --primary: var($primary);
  --black: #111111;
  --text: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--text);
}

body {
  background-color: var(--background-color);
  font-family: Space Mono, monospace;
  margin-bottom: 1rem;
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

li {
  font-style: italic;
}

a, button {
  color: var(--text);
}

.botao {
  font-weight: bold;
  font-style: italic;
  padding: 1rem 2rem;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  flex-shrink: 1;

  &__primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &__light {
    background-color: var(--background-color);
    color: var(--text);
  }

  &__light:hover {
    background-color: #dedede;
  }

  &__dark {
    background-color: var(--black);
    color: var(--white);
  }
}
